table {
    /* border-collapse: collapse; */
    width: 100%;
    border: 1px solid #6CE767;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #6CE767;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
    
  }
  
  .grid-container > div {
    padding: 20px 0;
    max-width: 300px;
    min-width: 50%;
  }

  .container {
    padding: 20px;
  }