<a [routerLink]="'/companies'" class="btn">App 1</a>
<a [routerLink]="'/company-details'" class="btn" style="margin-left: 10px;">App 2</a>
<form [formGroup]="filterForm">
  <div class="grid-container">
    <div>
      <input formControlName="query" placeholder="Search Term" class="search-box" />
    </div>
    <div>
      <select formControlName="exchange" class="search-box">
        <option value="NASDAQ" selected>NASDAQ</option>
        <option value="NYSE">NYSE</option>
        <option value="AMEX">AMEX</option>
        <option value="FOREX">FOREX</option>
      </select>
    </div>
    <div>
      <select formControlName="limit" class="search-box">
        <option value="10" selected>10</option>
        <option value="10">25</option>
        <option value="10">50</option>
      </select>
    </div>
    <div>
      <button (click)="getCompanies()" class="btn">Search</button>
    </div>
  </div>
</form>

<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Currency</th>
      <th>Stock Exchange</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let company of companies">
      <td>{{company.name}}</td>
      <td>{{company.symbol}}</td>
      <td>{{company.currency}}</td>
      <td>{{company.exchangeShortName}}</td>
      <td><span (click)="downloadStatement(company.name)">Download Statement</span></td>
    </tr>
  </table>
</div>