.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
    
  }
  
  .grid-container > div {
    padding: 20px 0;
    max-width: 300px;
    min-width: 50%;
  }

  .container {
      padding: 20px;
  }



.bottom-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}