<a [routerLink]="'/companies'" class="btn">App 1</a>
<a [routerLink]="'/company-details'" class="btn" style="margin-left: 10px;">App 2</a>

<div class="container">
  <div class="grid-container">
    <div>
      <form [formGroup]="filterForm">
        <label> Search company here</label><br>
        <input formControlName="query" placeholder="Search Term" class="search-box" />
      </form>
    </div>

    <div style="padding-top: 38px;">
      <button (click)="getCompanyProfile()" class="btn">Search Company</button>
    </div>
  </div>
  <div *ngIf="company" class="grid-container">
    <div> <img [src]="company.image">
    </div>
    <div>
      <p>
        <ng-container *ngIf="rating">
          <i class="fa fa-star" *ngFor="let rating of getRatings()"></i>
        </ng-container>
      </p>
      <p>{{company.companyName}}</p>
      <p> {{company.ceo}}</p>
      <p> {{company.description}}</p>
    </div>
    <div></div>
    <div>
      <p>{{company.price}}</p>
      <p>{{company.lastDiv}}</p>
      <p>{{rating?.recommendation}}</p>
      <button (click)="downloadStatement()" class="btn">Download</button>
    </div>
  </div>
</div>