/* You can add global styles to this file, and also import other style files */
.search-box {
    padding: 5px;
    text-align: center;
    border: 1px solid lightgray !important;
    box-shadow: 2px 3px lightgrey;
}

.btn {
    border-radius: 8px;
    background-color: blue;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
